
/* Your CSS Code here. */
.main{
	display:flex;
	color: black;
	justify-content:space-evenly;
}

.f1{
	background-color: green;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f2{
	background-color: green;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f3{
	background-color: green;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f4{
	background-color: green;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f5{
	background-color: green;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f5{
	background-color: green;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f6{
	background-color: red;
	border: 2px solid black;
	width:100px;
	height:100px
}
.f7{
	background-color: blue;
	border: 2px solid black;
	width:100px;
	height:100px
}